select {
  padding: 1px 15px;
  background-color: var(--form-background-color);
  border: var(--form-border);
  color: var(--primary-color);
  font-size: 14px;
  line-height: 24px;
  padding: 0px 12px 0px 12px;
  height: 36px;
  transition: 0.2s;
  max-width: 190px;
  border-radius: var(--form-elements-border-radius);
  outline: 0;
  padding-left: 20px;
  padding-right: 20px;
}

select:hover {
  border-color: var(--form-element-hover);
}

select:focus {
  border-color: var(--form-focus-color);
}

.card-select {
  background-color: var(--form-element-card-background-color);
  border: var(--form-border);
  border-radius: var(--form-elements-border-radius);
  color: var(--primary-color);
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  height: 36px;
  transition: 0.2s;
  outline: 0;
}

.table-select {
  padding: 1px 10px;
  background-color: var(--table-background-color);
  border: var(--form-border);
  color: var(--primary-color);
  font-size: 12px;
  line-height: 20px;
  height: 28px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  transition: 0.2s;
  border-radius: var(--form-elements-border-radius);
}

.form-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--form-background-color);
  border: var(--form-border);
  padding-left: 20px;
  padding-right: 20px;
  color: var(--primary-color);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: var(--form-elements-border-radius);
  height: 36px;
}

.form-button:hover {
  border-color: var(--form-element-hover);
}

.form-button:focus {
  border-color: var(--form-element-hover);
}

.table-sorting-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  height: 45px;
  background: var(--secondary-color);
  border-radius: var(--form-elements-border-radius);
  border: var(--form-border);
  padding-left: 20px;
  padding-right: 20px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 800;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-right: 5px;
}

.table-sorting-button:hover {
  color: var(--primary-color);
  border-color: var(--form-element-hover);
}

.table-sorting-button-active {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  height: 45px;
  outline: 0;
  background-color: var(--table-background-color);
  border-radius: var(--form-elements-border-radius);
  border: var(--form-border);
  border-color: var(--form-focus-color);
  padding-left: 20px;
  padding-right: 20px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 800;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-right: 5px;
}

.table-button {
  color: var(--primary-color);
  width: fit-content;
  text-transform: uppercase;
  line-height: 20px;
  padding: 1px 5px;
  outline: none;
  border: var(--form-table-button-border);
  background-color: var(--form-background-color);
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.25s;
  border-radius: var(--form-elements-border-radius);
  padding-left: 15px;
  padding-right: 15px;
}

.table-button:hover {
  border-color: var(--form-element-hover);
  background-color: var(--form-table-button-hover-background);
}

.todo-list-button {
  color: var(--primary-color);
  width: fit-content;
  height: 30px;
  width: 70px;
  border: var(--form-border);
  padding: 1px 5px;
  outline: none;
  background-color: var(--form-element-card-background-color);
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.25s;
  border-radius: var(--form-elements-border-radius);
}

.todo-list-button:hover {
  border-color: var(--form-element-hover);
}

.todo-list-button-complete {
  color: grey;
  width: fit-content;
  line-height: 20px;
  padding: 1px 5px;
  outline: none;
  border: 0px;
  background-color: #e9e9e9;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.25s;
  border-radius: var(--form-elements-border-radius);
}

.form-text-area {
  background: var(--tertiary-color);
  border: var(--form-border);
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 15px;
  line-height: 20px;
  padding: 0px 0px 0px 5px;
  height: 15em;
  width: 50em;
}

.form-text-area:hover {
  border-color: var(--form-element-hover);
}

.form-text-area:focus {
  border-color: var(--form-focus-color);
  outline: none;
}

.table-input {
  background-color: var(--form-background-color);
  color: var(--primary-color);
  font-size: 12px;
  line-height: 20px;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-top: 0;
  border-bottom: 0;
  padding: 0 0 0 10px;
  top: 0;
  left: 0;
  position: absolute;
}

.todo-input {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.1s;
  margin: 0;
  border: none;
  padding: 0 0 0 10px;
  top: 0;
  left: 0;
  position: absolute;
}

input[type="checkbox"] {
  outline: 0;
  background: #f2f2f2;
  border: 1px solid black;
  width: 15px;
  margin: 0;
}

input[type="checkbox"]:focus {
  box-shadow: 0 0 0 1px var(--form-element-hover)
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: var(--form-background-color);
  width: 500px;
  border: var(--form-border);
  color: var(--primary-color);
  margin: 0 0 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: var(--form-elements-border-radius);
  height: 36px;
}

.input-short {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: var(--form-background-color);
  width: 100px;
  border: var(--form-border);
  color: var(--primary-color);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: var(--form-elements-border-radius);
}


input:focus,
.input-short:focus {
  border-color: var(--form-focus-color);
}

.card-input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: var(--tertiary-color);
  width: 500px;
  border: var(--form-border);
  margin: 0 0 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: var(--form-elements-border-radius);
  width: 100%;
}

.input-heating {
  background-color: var(--form-background-color);
  color: var(--primary-color);
  font-size: 14px;
  height: 28px;
  width: 150px;
  border-radius: 0px;
  margin-top: 2px;
  transition: 0.2s;
  border-radius: var(--form-elements-border-radius);
}

.input-heating-medium-length {
  background-color: var(--form-background-color);
  color: var(--primary-color);
  border: var(--form-border);
  border-radius: var(--form-elements-border-radius);
  font-size: 14px;
  height: 35px;
  margin-top: 5px;
  max-width: 150px;
  transition: 0.2s;
}

.input-heating:focus,
.input-heating-medium-length:focus {
  border-color: var(--form-focus-color);
  background-color: var(--form-background-color);
}

input:placeholder {
  color: var(--primary-color);
  font-size: 14px;
}

input:hover {
  border-color: var(--form-element-hover);
}

input:focus {
  outline: none;
  border-color: var(--form-focus-color);
}

input[type="file"] {
  width: 400px;
  color: var(--primary-color);
}

input[type="file"]::file-selector-button {
  background-color: var(--secondary-color);
  border: var(--default-border);
  color: var(--primary-color);
}

input[type="file"]::file-selector-button:hover {
  color: var(--primary-color);
  border: var(--default-border);
  cursor: pointer;

}

input[type="file"]::file-selector-button:active {
  background-color: #4c82af;
  color: white;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-right: 10px;
  width: 75px;
  font-size: 14px;
}

.card-button {
  background-color: var(--form-element-card-background-color);
  border: var(--form-border);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  color: var(--primary-color);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: var(--form-elements-border-radius);
  height: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-button:hover {
  border-color: var(--form-element-hover);
}

.card-button:focus {
  border-color: var(--form-element-hover);
}

/* Container for input and label */
.input-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.input-container-input {
  width: 100%;
  padding: 10px;
  background-color: var(--form-element-card-background-color);
  border: var(--form-border);
  border-radius: var(--form-elements-border-radius);
  outline: none;
}

.input-container-input:focus {
  border: var(--form-focus-border);
}

.input-label {
  position: absolute;
  top: -17px;
  right: 10px;
  color: var(--primary-color);
  padding: 0 5px;
  font-size: 14px;
  font-weight: 700;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-label-left {
  position: absolute;
  top: -17px;
  left: 10px;
  color: var(--primary-color);
  padding: 0 5px;
  font-size: 14px;
  font-weight: 700;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input:focus+.input-label {
  top: -21px;
  font-size: 14px;
  font-weight: 700;
  color: var(--form-focus-color);
}

.input-container input:focus+.input-label-left {
  top: -21px;
  font-size: 14px;
  font-weight: 700;
  color: var(--form-focus-color);
}