@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: rgb(18, 28, 38);
  --tertiary-color: rgb(12, 18, 25);
  --accent-color: #00FFA7;
  --default-border: 1px solid rgb(43, 53, 64);
  --inner-card-backgrounnd-color: rgba(33, 50, 68, 0.432);
  --table-header: var(--secondary-color);
  --table-footer: #161F29;
  --table-background-color: var(--secondary-color);
  --table-button-border: #1f1c2e;
  --table-button-background: var(--secondary-color);
  --table-border: 1px solid rgb(43, 53, 64);
  --table-hover: #4949495e;
  --marked-row: #1e7e3659;
  --form-elements-border-radius: 6px;
  --grey-text: rgba(212, 212, 212, 0.644);
  --system-summary: rgba(89, 113, 157, 0.2);
  --default-border-radius: 10px;
  --background-shade: rgba(255, 255, 255, 0.329);

  --form-border: 2px solid rgb(43, 53, 64);
  --form-focus-border: 2px solid var(--accent-color);
  --form-elements-border-radius: 25px;
  --form-background-color: var(--tertiary-color);
  --form-element-hover: var(--accent-color);
  --form-focus-color: var(--accent-color);
  --form-table-button-border: 2px solid rgb(43, 53, 64);
  --form-table-button-hover-background: var(--tertiary-color);
  --form-element-card-background-color: var(--tertiary-color);
}

.light:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: #EFF1F6;
  --accent-color: #ec2828;
  --default-border: 1px solid rgb(0, 0, 0);
  --table-header: var(--secondary-color);
  --table-footer: #161F29;
  --table-background-color: var(--secondary-color);
  --table-row-even: #ececec;
  --table-button-border: #1f1c2e;
  --table-button-background: rgb(18, 28, 38);
  --table-border: 1px solid rgb(43, 53, 64);
  --table-hover: #12499c1f;
  --marked-row: #d72f597a;
  --grey-text: rgb(112, 112, 112);
  --system-summary: rgba(89, 113, 157, 0.2);
  --default-border-radius: 10px;
  --background-shade: rgba(0, 0, 0, 0.356);

  --form-border: 2px solid #00000036;
  --form-focus-border: 2px solid var(--primary-color);
  --form-elements-border-radius: 25px;
  --form-background-color: var(--secondary-color);
  --form-element-hover: var(--primary-color);
  --form-focus-color: var(--primary-color);
  --form-table-button-border: 2px solid #00000036;
  --form-table-button-hover-background: var(--tertiary-color);
  --form-element-card-background-color: var(--tertiary-color);

}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.main-content {
  flex: 1 0 92%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header,
.sub-header,
.main-content,
.footer {
  width: 100%;
}

.header {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  display: flex;
  min-height: 5%;
}

.sub-header {
  display: flex;
  align-items: center;
  border-top: var(--default-border);
  border-bottom: var(--default-border);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  padding-left: 20px;
  padding-right: 20px;
}

.main-content {
  background-color: var(--tertiary-color);
  color: var(--primary-color);

}

.app-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  position: fixed;
  margin-bottom: 20px;
}

.flex-container-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  float: left;
  width: 100%;
}

.system-summary {
  max-width: 250px;
  float: left;
  background-color: var(--system-summary);
  margin: 10px;
  padding: 10px;
  border-radius: var(--default-border-radius);
  font-size: 14px;
}

.status {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
}

.subtitle-header-container {
  position: sticky;
  padding: 5px;
  background-color: var(--primary-color);
  padding-left: 20px;
}

.text-container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.text-container-above-tables {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 120px;
  margin-left: 20px;
}

.text-container-above-tables-spec {
  overflow-y: hidden;
  display: flex;
  margin-right: 20px;
  height: 85px;
  margin-left: 20px;
}

.container-above-table-rooms-bottom {
  overflow-y: hidden;
  display: flex;
  margin-right: 20px;
  height: 50px;
  margin-right: 40px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.container-above-table-rooms-top {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.supply-text {
  color: #2ba972;
}

.extract-text {
  color: #a92b3c;
}

.heating-text {
  color: #FF7F27;
}

.p-description {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 0px;
}

.heating-settings {
  float: left;
  margin-top: 5px;
  margin-right: 25px;
  font-size: 14px;
}

.split-container-left {
  padding-left: 20px;
  padding-top: 20px;
  width: 10%;
}

.split-container-right {
  padding-top: 20px;
  width: 90%;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  justify-content: center;
}

.container-flex-column-spec {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  justify-content: center;
}



/* Navigation */

.page-title-text {
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-color);
}

.page-title-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header a {
  float: left;
  color: #1f1c2e;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

.dropdown {
  float: left;
  overflow: hidden;
  height: 100%;
  align-content: center;
}

.active-project-title-container {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navbar-button-container {
  display: flex; 
  padding-left: 20px; 
  justify-content: flex-start; 
  align-items: center; 
  min-width: 380px;
  flex: 0 0 20%;
  height: 100%;
  font-size: 16x;
}

.navbar-show-menu-button {
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-show-menu-button:hover {
  transition: 200ms;
  cursor:default;
}

.background-shader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  z-index: 900;
  background-color: var(--background-shade);
}

.project-menu-container {
  position: absolute;
  display: flex;
  height: 520px;
  top: 50px;
  background-color: var(--secondary-color);
  z-index: 1000;
  left: 50px;
  border-radius: var(--default-border-radius);
  padding: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

.dashboard-menu-container {
  position: absolute;
  display: flex;
  height: 520px;
  top: 50px;
  background-color: var(--secondary-color);
  z-index: 1000;
  right: 50px;
  border-radius: var(--default-border-radius);
  padding: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu-sub-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  letter-spacing: 0.025rem;
}

.menu-sub-sub-container {
  margin-bottom: 40px;
}

.menu-item-title {
  font-size: 16px;
  color: var(--grey-text);
  margin-bottom: 10px;
  letter-spacing: 0.040rem;
}

.menu-link-container {
  margin-bottom: 5px;
}

.menu-link {
  color: var(--primary-color);
  font-weight: 500;
}

.menu-link:hover {
  color: var(--accent-color);
  text-decoration: none;
  transition: 300ms;   
}

.navbar-button-container-right {
  display: flex;
  padding-right: 20px;
  justify-content: end;
  text-align: end;
  min-width: 380px;
  flex: 0 0 20%;
  height: 100%;
  font-size: 16px;
  align-items: center;
}

.logout-dropdown {
  float: left;
  height: 100%;
  align-content: center;
}

.table-link {
  color: var(--accent-color);
}

.table-link:hover {
  color: var(--accent-color);
}

.grey-info-text {
  color: var(--grey-text);
  font-size: 14px;
}

/* Header text */
h3 {
  display: inline-block;
  line-height: 0;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

/* Lists */
.horizontal-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.horizontal-list-item {
  display: inline;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.00938em;
}

.sanitary-building-summary-equipment-container {
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 2px;
  border-radius: var(--default-border-radius);
}

.sanitary-building-summary-equipment-header {
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 3px;
  color: var(--grey-text);
  border-radius: var(--default-border-radius);
  margin-top: 10px;
}

.sanitary-building-summary-equipment-container:hover {
  background-color: var(--table-hover);
  color: var(--navbar-active-font-color);
}

.grey-text {
  color: var(--grey-text);
}

/* SVG stuff*/
svg.feather {
  vertical-align: middle;
  display: inline-block;
  line-height: 0;
  stroke: var(--accent-color);
  fill: none;
}

svg.non-title-icons {
  vertical-align: middle;
  display: inline-block;
  line-height: 0;
  stroke: var(--primary-color);
  fill: none;
}

svg.delete {
  vertical-align: middle;
  display: inline-block;
  stroke: var(--primary-color);
  fill: none
}

/* Loading stuff */

.loading-container {
  display: flex;
}

.loading-text {
  filter: blur(3px);
  opacity: 0.5;
}

.loading-spinner {
  border: 4px solid var(--table-background-color);
  border-radius: 50%;
  border-top-color: var(--accent-color);
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.darkmode-container {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 10px;
  height: 100%;
  border-left: var(--default-border);
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tertiary-color);
  transition: 0.4s;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
}

.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  top: 2px;
  bottom: 2px;
  background-color: var(--accent-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--tertiary-color);
}

input:checked + .slider::before {
  transform: translateX(20px);
}

.content-card {
  max-width: 1000px;
  min-width: 400px;
  background-color: var(--secondary-color);
  border-radius: var(--default-border-radius);
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.158);
}


.content-card-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
}

.content-card-inner-container {
  border: 0;
  padding: 10px;
  border-radius: var(--default-border-radius);
}

.login-page {
  width: 600px;
  padding: 8% 0 0;
  margin: auto;
}

.edit-building-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--form-element-card-background-color);
  border: var(--form-border);
  border-radius: var(--form-elements-border-radius);
  color: black;
  cursor: pointer;
  font-weight: 500;
}

.edit-building-button:hover {
  color: black;
  border-color: var(--form-focus-color);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.w-70-percent {
  width: 70%;
}

.w-30-percent {
  width: 30%;
}
.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.align-center {
  align-items: center;
}

.text-card-title {
  font-size: 23px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pre-wrap {
  white-space: pre-wrap;
}