@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply m-0 p-0 h-full w-full;
  }
  body {
    @apply overflow-hidden m-0 p-0 h-full w-full antialiased;
  }
  a {
    @apply no-underline text-accent-color;
  }
  a:hover {
    @apply underline;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
   @apply mt-3 mb-0 text-xl;
  }
}

@layer components {
  .slider {
    @apply absolute cursor-pointer top-0 bottom-0 right-0 left-0 bg-tertiary-color transition duration-300 border border-accent-color rounded-[20px];
  }

  .slider::before {
    @apply absolute content-[""] h-[15px] w-[15px] left-[2px] top-[2px] bottom-[2px] bg-accent-color transition duration-300 rounded-[50%];
  }

  input:checked + .slider {
    @apply bg-tertiary-color;
  }
  
  input:checked + .slider::before {
    @apply transform translate-x-5;
  }
}
* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/* Loading stuff */

.loading-spinner {
  border: 4px solid var(--table-background-color);
  border-radius: 50%;
  border-top-color: var(--accent-color);
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}