@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply m-0 p-0 h-full w-full antialiased;
  }
  body {
    @apply overflow-hidden m-0 p-0 h-full w-full antialiased;
  }
  a {
    @apply no-underline text-accent-color dark:text-dark-accent-color;
  }
  a:hover {
    @apply text-primary-color dark:text-dark-primary-color transition duration-300;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
   @apply text-xl;
  }
}

@layer components {
  .slider {
    @apply absolute cursor-pointer top-0 bottom-0 right-0 left-0 bg-tertiary-color dark:bg-dark-tertiary-color transition duration-300 border border-accent-color dark:border-dark-accent-color rounded-[20px] hover:border-primary-color hover:dark:border-dark-primary-color;
  }

  .slider::before {
    @apply absolute content-[""] h-[15px] w-[15px] left-[2px] top-[2px] bottom-[2px] bg-accent-color dark:bg-dark-accent-color transition duration-300 rounded-[50%];
  }

  input:checked + .slider {
    @apply bg-tertiary-color dark:bg-dark-tertiary-color;
  }
  
  input:checked + .slider::before {
    @apply transform translate-x-5;
  }  
  
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.test {
  background-color: #121c26;
}