/* Side bar*/
.sidebar {
    flex-basis: 200px;
    max-width: 230px;
    flex-shrink: 0;
    background-color: var(--sidebar);
    display: flex;
    flex-direction: column;
    height: 100%
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  .sidebar-list {
    list-style-type: none;
    padding: 0;
  }
  .sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
  }
  .sidebar-list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    color: var(--sidebar-link);
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
  }
  .sidebar-list-item svg {
    margin-right: 8px;
  }
  .sidebar-list-item:hover {
    background-color: var(--sidebar-hover-link);
  }
  .sidebar-list-item.active {
    background-color: var(--sidebar-active-link);
  }
  .sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
  }
  @media screen and (max-width: 1024px) {
    .sidebar {
      display: none;
    }
  }
  

  
  .sidebar-bottom-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .sidebar-bottom-name {
    font-size: 14px;
    color: var(--sidebar-main-color);
    margin: 0 8px;
    overflow: hidden;
    max-width: 100%;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .sidebar-bottom-more {
    color: var(--sidebar-main-color);
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
  }
  
  /* End side bar */


  .mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--app-content-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
    font-size: 16px;
    
    .moon {
      fill: var(--app-content-main-color);
    }
  }
  .mode-switch:hover {
    background-color: transparent;
  }
  
  .mode-switch.active .moon {
    fill: none;
    
  }