/* Message box*/
.popup-hide {
    display: none;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(89, 113, 157);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 500px;
}

.popup-show {
    display: block;
    position: fixed;
    top: 15%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -20%);
    background-color: #41787a;
    color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 500px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    word-break: break-word;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.popup-close:hover,
.popup-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* To-do list */
.todo-container {
    position: fixed;
    z-index:1000;
}

.todo-popup {
    display: flex;
    position: fixed;
    top: 0;
    right:0;
    height: 100%;
    background-color: var(--app-content-secondary-color);
    box-shadow: 5px 1px 20px   black;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    width: 300px;
    font-size: 14px;
}



.todo-popup-header {
    display: flex;
    background-color: var(--table-header);
    border-bottom: var(--default-border);
    color: var(--app-content-main-color);
    padding: 5px;
    position: relative;
    width: 100%;
    height: 51px;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.todo-popup-item-container {
    overflow-y: auto;
}
.todo-popup-listitem {
    background-color: var(--table-background-color);
    color: var(--app-content-main-color);
    padding: 5px;
    position: relative;
    width: 300px;
    border-bottom: var(--default-border);
}

.todo-popup-listitem-form {
    background-color: #e9e9e9;
    color: var(--app-content-main-color);
    padding: 5px;
    position: relative;
    height: 50px;
    width: 100%;
    border-bottom: var(--default-border);
}

.todo-close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.todo-close-btn:hover {
    color: var(--navbar-active-link);
}

.todo-completed {
    text-decoration: line-through;
    background-color: var(--table-background-color);
    color: black;
    padding: 5px;
    position: relative;
    width: 300px;
    border-bottom: 1px solid black;
}

/* Settings window for cooling and heating*/

.settings-popup {
    display: flex;
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    background-color: var(--app-content-secondary-color);
    color: var(--app-content-main-color);
    box-shadow: 5px 1px 20px   black;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    width: 300px;
    font-size: 14px;
}

.settings-popup-item-container {
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.delete-confirmation-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center; 
    align-items: center;
    z-index: 1000;
    background-color: rgba(131, 0, 0, 0.295);
  }
  
  .delete-confirmation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .delete-confirmation-card {
    background-color: var(--app-content-secondary-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }

  .help-box-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center; 
    align-items: center;
    z-index: 1000;
    background-color: rgba(156, 156, 156, 0.295);
  }

  .help-box-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
  }

  .help-box-card {
    background-color: var(--app-content-secondary-color);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: 30%;
    height: 50%;
    overflow-y: auto;
  }

  .help-box-card-header {
    width: 100%;
    background-color: var(--app-content-secondary-color);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    padding-top: 10px;
  }

  .help-box-card-item {
    width: 100%;
    display: flex;
    flex-direction: column;
  }