/* Room lists */


.table-wrapper-tiny {
  margin: 20px 1px 0px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 300px;
}

.table-wrapper-tiny:hover {
  margin: 10px 1px 0px 0px;
}

.fl-table tr:nth-child(even) {
  background-color: var(--table-row-even);
}

.comments-cell {
  text-align: end !important;
  justify-content: end !important;
  padding-right: 20px;
}

.fl-table thead th {
  color: var(--grey-text);
  background-color: var(--table-header);
  top: 0;
  height: 25px;
  position: sticky;
  z-index: 1;
  font-size: 15px;
  letter-spacing: 0.025rem;
}

.fl-table tfoot {
  bottom: 0;
  height: 25px;
  position: sticky;
  z-index: 1;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.fl-table tr:hover {
  background-color: var(--table-hover);
  color: var(--primary-color);
}

.marked-row {
  background-color: var(--marked-row) !important;
  color: var(--primary-color);
}

.deleted-row {
  color: #aa4444;
  text-decoration: line-through;
}


.supplyCell {
  background-color: #3ea578;
  color: black;
  font-weight: 500;
}

.extractCell {
  background-color: #c96072;
  color: black;
  font-weight: 500;
}

/* Summaries */
.fl-table-summary {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: normal;
  border-radius: var(--default-border-radius);
  border-collapse: collapse;
  white-space: nowrap;
  background-color: var(--secondary-color);
}

.fl-table-summary td,
.fl-table-summary th {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: left;
}


.fl-table-summary td {
  border-top: var(--default-border);
  font-size: 13px;
  max-width: 150px;
  overflow: hidden;
  position: relative;
}

.fl-table-summary-sub-title {
  background-color: var(--tertiary-color);
}


.fl-table-summary thead th {
  color: var(--primary-color);
  background-color: var(--table-hover);
  top: 0;
  height: 25px;
  position: sticky;
  z-index: 1;
}

.fl-table-summary td:nth-child(odd) {
  width: 20%;
}

.fl-table-summary tr:hover {
  background-color: var(--table-hover);
  color: var(--primary-color);
}

/* Room data table*/
.room-data-close-btn {
  display: flex;
  right: 15px;
  color: var(--primary-color);
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.room-data-close-btn:hover {
  color: var(--accent-color);
}