/* Room lists */
.table-wrapper{
  margin: 0px 20px 100px 20px;
  overflow: auto;
  height: 81%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--table-background-color);
}

.table-wrapper-tiny{
  margin: 20px 1px 0px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 300px;
}

.table-wrapper-tiny:hover{
  margin: 10px 1px 0px 0px;
}

.table-top-options {
  background-color: var(--table-background-color);
  position: sticky;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.fl-table {
  color: var(--app-content-main-color);
  font-size: 13px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: var(--table-background-color);
  table-layout: fixed;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
}


.fl-table td {
  border-top: var(--table-border);
  border-bottom: var(--table-border);
  font-size: 13px;
  overflow: hidden;
  position: relative;
}

.comments-cell {
  text-align: end !important;
  justify-content: end !important;
  padding-right: 20px;
}

.fl-table thead th {
  color: var(--app-content-main-color);
  background-color: var(--table-header);
  top: 0;
  height: 25px;
  position: sticky;
  z-index: 1;
}

.fl-table tfoot {
  bottom: 0;
  height: 25px;
  position: sticky;
  z-index: 1;
  background-color: var(--table-background-color);
  color: var(--app-content-main-color);
}

.fl-table tr:hover {
  background-color: var(--table-hover);
  color: var(--app-content-main-color);
}

.marked-row {
  background-color: var(--marked-row) !important;
  color: var(--app-content-main-color);
}

.deleted-row {
  color: #aa4444;
  text-decoration: line-through;
}

.table-text-grey {
  color: var(--grey-text);
}

.summary-row {
  background-color: var(--table-hover);
}

.supplyCell {
  background-color: #3ea578;
  color: black;
  font-weight: 500;
  width: 200px;
}

.extractCell {
  background-color: #c96072;
  color: black;
  font-weight: 500;
  width: 150px;
}

/* Summaries */

.popup {
  position: absolute;
  background: #333;
  color: var(--app-content-main-color);
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
}

.fl-table-summary {
  color: var(--app-content-main-color);
  font-size: 13px;
  font-weight: normal;
  border-radius: 5px;
  border-collapse: collapse;
  white-space: nowrap;
  background-color: var(--table-background-color);
}

.fl-table-summary td, .fl-table-summary th {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: left;
}


.fl-table-summary td {
  border-top: var(--default-border);
  font-size: 13px;
  max-width: 150px;
  overflow: hidden;
  position: relative;
}

.fl-table-summary-sub-title {
  background-color: var(--table-hover);
}


.fl-table-summary thead th {
  color: var(--app-content-main-color);
  background-color: var(--table-hover);
  top: 0;
  height: 25px;
  position: sticky;
  z-index: 1;
}

.fl-table-summary td:nth-child(odd) {
  width: 20%;
}

.fl-table-summary tr:hover {
  background-color: var(--table-hover);
  color: var(--app-content-main-color);
}

/* Room data table*/
.fl-table-room-data {
  color: var(--app-content-main-color);
  font-size: 13px;
  font-weight: normal;
  border-radius: 5px;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  background-color: var(--table-background-color);
}

.fl-table-room-data td, .fl-table-room-data th {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: left;
}


.fl-table-room-data td {
  border-top: var(--default-border);
  font-size: 13px;
  max-width: 190px;
  overflow: hidden;
  position: relative;
}

.fl-table-room-data-sub-title {
  background-color: var(--table-hover);
}


.fl-table-room-data thead th {
  color: var(--app-content-main-color);
  background-color: var(--table-hover);
  top: 0;
  height: 25px;
  position: sticky;
  z-index: 1;
}

.fl-table-room-data td:nth-child(odd) {
  width: 20%;
}

.fl-table-room-data tr:hover {
  background-color: var(--table-hover);
  color: var(--app-content-main-color);
}


.room-info-ventilation-container {
  position: fixed;
  box-shadow: 5px 1px 20px   black;
  border: var(--default-border);
  left: 25%;
  top: 15%;
  z-index: 1000;
  width: 600px;
  overflow-y: auto;
}

.room-info-ventilation-popup {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.room-data-close-btn {
  position: absolute;
  color: var(--app-content-main-color);
  top: 0px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.room-data-close-btn:hover {
  color: var(--svg-icon-color);
}